body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar{
    width: 0;
    height: 0;
}

main {
    position: relative;
    width: 100%;
    height: 100vh
} 

canvas{
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Maximum scrolling space */
.scroll-space {
    height: 2722px;
}

/* For the button input method */
/* 
.button-container2{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2.8rem;
  justify-content: center; 
  align-items: center;
}

.button-container1-3{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 15%;
  justify-content: center; 
  align-items: center; 
}

.button-container0-4{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2.8rem;
  justify-content: center; 
  align-items: center; 
}

.button-container2 button{
    width: 10.5%;
    height: 23%;
    background-color: rgba(128, 128, 128, 0.388);
}

.button-container1-3 button{
    width: 11.5%;
    height: 23%;
    background-color: rgba(128, 128, 128, 0.388);
}

.button-container1-3 button{
    width: 11.5%;
    height: 23%;
    background-color: rgba(128, 128, 128, 0.388);
} */
